// Color Variables
$primary-color: #1C4E46;
$secondary-color: #428A7C;
$text-color: #4c4c4c;
$text-color-dark: #000;
$text-color-light: #999;
$body-color: #fff;
$border-color: #c7c7c7;
$black: #000;
$white: #fff;
$gray: #eaeaea;

// Font Variables
$primary-font: sans-serif;
$secondary-font: sans-serif;
$tertiary-font: sans-serif;
$icon-font: 'themify';
