name: changelog

on:
  release:
    types:
      - published

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
        with:
          ref: 'main'
      - name: Setup Ruby
        uses: ruby/setup-ruby@v1.18.0
        with:
          # Engine and version to use, see the syntax in the README. Reads from .ruby-version if unset.
          ruby-version: 2.6.5
      - name: Install and run github_changelog_generator
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          gem install --no-rdoc --no-ri github_changelog_generator
          github_changelog_generator -u dcsil -p csc491 -t $GITHUB_TOKEN
      - name: Commit files
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add --all .
          git commit -m "Update CHANGELOG"
      - name: Push changes
        uses: ad-m/github-push-action@fe38f0a751bf9149f0270cc1fe20bf9156854365
        env:
          GITHUB_ACTOR: "jules2689" 
        with:
          github_token: ${{ secrets.REPO_ACCESS_TOKEN }}
          
